# ANZ Data Virtual Internship - Task 1

In [1]:
# Imports
import pandas as pd
import numpy as np 
import seaborn as sns

#Pandas settings
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Data Importing and Exploratory Data Analysis

In [2]:
# read in csv file 
data = pd.read_csv('ANZ_synthesised_transaction_dataset.csv')
# display head
data.head()

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,balance,date,gender,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement
0,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,POS,81c48296-73be-44a7-befa-d053f48ce7cd,NaN,Diana,35.39,1/8/18,F,26,Ashmore,QLD,2018-08-01T01:01:15.000+0000,16.25,a623070bfead4541a6b0fff8a09e706c,Australia,CUS-2487424745,153.38 -27.99,debit
1,authorized,0.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,830a451c-316e-4a6a-bf25-e37caedca49e,NaN,Diana,21.20,1/8/18,F,26,Sydney,NSW,2018-08-01T01:13:45.000+0000,14.19,13270a2a902145da9db4c951e04b51b9,Australia,CUS-2487424745,151.21 -33.87,debit
2,authorized,1.0,NaN,ACC-1222300524,AUD,151.23 -33.94,POS,835c231d-8cdf-4e96-859d-e9d571760cf0,NaN,Michael,5.71,1/8/18,M,38,Sydney,NSW,2018-08-01T01:26:15.000+0000,6.42,feb79e7ecd7048a5a36ec889d1a94270,Australia,CUS-2142601169,151.21 -33.87,debit
3,authorized,1.0,NaN,ACC-1037050564,AUD,153.10 -27.66,SALES-POS,48514682-c78a-4a88-b0da-2d6302e64673,NaN,Rhonda,2117.22,1/8/18,F,40,Buderim,QLD,2018-08-01T01:38:45.000+0000,40.90,2698170da3704fd981b15e64a006079e,Australia,CUS-1614226872,153.05 -26.68,debit
4,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,b4e02c10-0852-4273-b8fd-7b3395e32eb0,NaN,Diana,17.95,1/8/18,F,26,Mermaid Beach,QLD,2018-08-01T01:51:15.000+0000,3.25,329adf79878c4cf0aeb4188b4691c266,Australia,CUS-2487424745,153.44 -28.06,debit

In [3]:
data.shape

(12043, 23)

In [4]:
data.describe() #Perform basic summary stats on numeric columns

,card_present_flag,merchant_code,balance,age,amount
count,7717.000000,883.0,12043.000000,12043.000000,12043.000000
mean,0.802644,0.0,14704.195553,30.582330,187.933588
std,0.398029,0.0,31503.722652,10.046343,592.599934
min,0.000000,0.0,0.240000,18.000000,0.100000
25%,1.000000,0.0,3158.585000,22.000000,16.000000
50%,1.000000,0.0,6432.010000,28.000000,29.000000
75%,1.000000,0.0,12465.945000,38.000000,53.655000
max,1.000000,0.0,267128.520000,78.000000,8835.980000

Noting above that the pd.describe displays float and integer objects only, this means many other columns are encoded as objects. The below code calls upon df.dtypes to determine the types of values in each column.

In [5]:
data.dtypes

status                object
card_present_flag    float64
bpay_biller_code      object
account               object
currency              object
long_lat              object
txn_description       object
merchant_id           object
merchant_code        float64
first_name            object
balance              float64
date                  object
gender                object
age                    int64
merchant_suburb       object
merchant_state        object
extraction            object
amount               float64
transaction_id        object
country               object
customer_id           object
merchant_long_lat     object
movement              object
dtype: object

In [6]:
data.nunique() # Determines the number of unique values per column

status                   2
card_present_flag        2
bpay_biller_code         3
account                100
currency                 1
long_lat               100
txn_description          6
merchant_id           5725
merchant_code            1
first_name              80
balance              12006
date                    91
gender                   2
age                     33
merchant_suburb       1609
merchant_state           8
extraction            9442
amount                4457
transaction_id       12043
country                  1
customer_id            100
merchant_long_lat     2703
movement                 2
dtype: int64

The above code shows us that as per the description we do indeed have 100 customers data based off 100 unique values for the accounts column.

In [7]:
data.isnull().sum() # counts the number of null values for each column

status                   0
card_present_flag     4326
bpay_biller_code     11158
account                  0
currency                 0
long_lat                 0
txn_description          0
merchant_id           4326
merchant_code        11160
first_name               0
balance                  0
date                     0
gender                   0
age                      0
merchant_suburb       4326
merchant_state        4326
extraction               0
amount                   0
transaction_id           0
country                  0
customer_id              0
merchant_long_lat     4326
movement                 0
dtype: int64

In [8]:
# Check the percentage of missing values per column
print("Percentage of missing values:")
print()
for column in data.columns:
    print(f'Column {column} has'
          f' {100 * sum(data[column].isna()) / len(data):.2f}%'
          f' missing values')

Percentage of missing values:

Column status has 0.00% missing values
Column card_present_flag has 35.92% missing values
Column bpay_biller_code has 92.65% missing values
Column account has 0.00% missing values
Column currency has 0.00% missing values
Column long_lat has 0.00% missing values
Column txn_description has 0.00% missing values
Column merchant_id has 35.92% missing values
Column merchant_code has 92.67% missing values
Column first_name has 0.00% missing values
Column balance has 0.00% missing values
Column date has 0.00% missing values
Column gender has 0.00% missing values
Column age has 0.00% missing values
Column merchant_suburb has 35.92% missing values
Column merchant_state has 35.92% missing values
Column extraction has 0.00% missing values
Column amount has 0.00% missing values
Column transaction_id has 0.00% missing values
Column country has 0.00% missing values
Column customer_id has 0.00% missing values
Column merchant_long_lat has 35.92% missing values
Column movement has 0.00% missing values

Based off the above code, we have significant numbers of null values in the dataset. However considering this is transactional data:

    1. Not all payments were via Bpay - hence we have a lack of values in bpay_biller_code
    2. We have 4326 missing values in the card_present_flag, merchant_id, merchant_suburb, merchant_state and   merchant_long_lat columns. This could be due to the card not being present at the time of transaction (online or manual purchases) or for another reason entirely.
    3. We are missing a lot of data in the merchant_code column (~92%). This could be due to most transctions (~92%) are not Bpay transactions and will hence not have a merchant code. As such we should remove this column alongside the bpay_biller_code column.

## Data Cleaning

In [9]:
# assign to clean data frame variable
data_clean = data

# split up lat_long column into lat and long for ease of plotting later
data_clean[['long','lat']] = data_clean['long_lat'].str.split(' ', expand=True)

# split up merchant long_lat into lat and long for ease of plotting later
data_clean[['merchant_long','merchant_lat']] = data_clean['merchant_long_lat'].str.split(' ', expand=True)
#data_clean.head() # Sanity check

In [10]:
# drop columns missing signifcant amounts of data / unneeded columns:

# 1. merchant_code - missing data (see above)
# 2. currency - all in AUD in this dataset (based off unique values)
# 3. country - all in Australia in this dataset (based off unique values)
# 4. long_lat - not needed after split above
# 5. merchant_long_lat - not needed after split above
data_clean = data_clean.drop(['merchant_code','currency', 'country', 'long_lat','merchant_long_lat', 'bpay_biller_code'], axis=1)

In [11]:
# Change dtypes to numeric for all latitude and longitude columns
data_clean = data_clean.astype({'long':'float64', 'lat':'float64', 'merchant_long':'float64', 'merchant_lat':'float64'})
# ensure that the date column is a datetime object
data_clean['date'] = pd.to_datetime(data_clean['date'], format= '%d/%m/%y')

In [12]:
# Sort data by date
data_clean.sort_values(by=['date'], inplace=True)

## Insights into the dataset

In [32]:
# Average transaction amount
print('The average transaction amount is ${:.2f} and the median transaction amount is ${:.2f}'.format((data_clean['amount'].mean()), data_clean['amount'].median()))

print() # creating a space in output
# Average number of transaction per customer over the 3 month period
print('The average number of transaction per person over the 3 month period is {:.2f} and the median number of transactions is {:.2f}'.format(data_clean['customer_id'].value_counts().mean(), data_clean['customer_id'].value_counts().median()))

print() # creating a space in output
# Average balance in an ANZ account across the 3 month period
print('The average balance in an ANZ account across the 3 month period is ${:.2f} and the median balance is ${:.2f}'.format(data_clean['balance'].mean(), data_clean['balance'].median()))

The average transaction amount is $187.93 and the median transaction amount is $29.00

The average number of transaction per person over the 3 month period is 120.43 and the median number of transactions is 109.50

The average balance in an ANZ account across the 3 month period is $14704.20 and the median balance is $6432.01

The above output is showing us that the average transaction amount has been greatly affected by outliers, with an average transaction amount of *$187 and a median value of *$29. 

The code above also shows that there is a relatively small difference in the average and median number of transactions per customer across the 3 month period, thus we can conclude that the number of transactions per customer was evenly distributed in this time period.

The average balance in an ANZ account at the time of transaction also differed largely compared to the median balance in an account. The average balance across the time period was $14707, and the median balance was $6432, indicating the presence of outliers in the dataset (ie. accounts with large balances).